// Define variables for your color scheme

// For example:
$blue: #0D6EFD;
$linen: #FBF2E9;
$orange: #E67E22;
$light-orange: #DFA249;
$green: #97A26B;
$light-green: #CDE7BE;
$gray: #0E0000;
$light-gray: #F4F4F4;
