<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @schools.each do |school| %>
    <div class="col">
      <div class="card">
        <div class="card-body" background-color="linen">
          <h3 class="card-title"><%= school.name %></h3>
          <br>
          <%= link_to "View school", school_path(school), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
