<div class="container text-left">
  <div class="banner">
    <%= cl_image_tag @school.photo.key, class: "avatar-xlarge" %>
    <br><br>
    <h1><%= @school.name %></h1>
  </div>
  <div>
  </div>
</div>
