.btn-primary {
  color: white;
  width: fit-content;
}

.btn-primary:hover {
  background-color: white;
}

.btn-link {
  text-decoration: none;
  color: black;
}

.btn-link:hover {
  color: $light-orange;
}

.btn-circle {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
  width: 60px;
  height: 60px;
  background:#97A26B;
  border: 3px solid #97A26B;
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn-circle:hover {
  background-color: white;
  color: black;
}
